<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Create Product</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a>Trang chủ</a></li>
          <li class="breadcrumb-item" routerLink="">Products</li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Create product</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form [formGroup]="productForm" (ngSubmit)="createProduct()">
        <div class="card-body">
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" placeholder="Enter product model" formControlName="model">
          </div>
          <div class="form-group">
            <label for="producer">Producer</label>
            <input type="text" class="form-control" id="producer" placeholder="Enter producer" formControlName="producer">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Enter product price" formControlName="price">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter product description" formControlName="description">
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
    <!-- /.card -->
  </div>
</section>


